<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../model/forms.css">
    <title>Cadastro</title>
</head>
<body>
    <form class="form">
       <p class="form-title">Faça seu cadastro</p>
       <div class="input-container">
        <input type="text" placeholder="Ex: João pedro">
        <span>
        </span>
    </div>
        <div class="input-container">
          <input type="email" placeholder="Ex: joao@gmail.com">
          <span>
          </span>
      </div>
      <div class="input-container">
          <input type="password" placeholder="Ex: ###-####">
        </div>
         <button type="submit" class="submit">
        Cadastrar
      </button>

      <p class="signup-link">
        possui uma conta?
        <a href="">Logar</a>
      </p>
   </form>

</body>
</html>