<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" type="text/css" href="../model/home-estilos.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="icon" href="../confg/S.A.D.png" type="image/x-icon">

  
    <title>Home HOPE</title>
</head>
<body>
    <!--Inicio do Header-->
    <header style="background-color: #fff;">
        <a href="#" class="logo"><img src="../confg/S.A.D.png" alt="" width="500px" height="500px"></a>
        <ul class="navbar">
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#Sobre">Sobre nós</a></li>
            <li><a href="#Servicos">Serviços</a></li>
            <li><a href="#Contato">Contato</a></li>
            <a href="agendamento.html"><button>Agendamentos</button></a>
           
        </ul>
        <div class="main-acessos">
            <a href="login.user.html" class="login"><i class="ri-user-fill"></i>Login</a>
            <a href="cadastro.user.html" class="Cadastro">/ Cadastro</a>
        </div>
    </header>
     <!--Fim do Header-->
     <!--Inicio do Carrosel-->
    <div id="carouselExample" class="carousel slide" data-ride="carousel" style="margin-top: 6rem;">
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="../confg/1.png" class="d-block w-100" alt="Imagem 1">
          </div>
          <div class="carousel-item">
              <img src="../confg/2.png" class="d-block w-100" alt="Imagem 2">
          </div>
          <div class="carousel-item">
            <img src="../confg/3.png" class="d-block w-100" alt="Imagem 2">
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
      <!--Fim do Carrosel-->
      <!--Inicio do container 1 (principais serviços)-->
    <h2 id="Sobre">S.A.D transformando vidas</h2>  
    <div class="container text-left">
      <div class="row">
        <div class="col" style="margin-right: 4rem;">
          <h3>Consultas com médicos especialistas que elevam sua saúde e bem estar</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis aperiam qui earum maiores in odit? Cum ducimus repudiandae vel ratione aut maiores sequi numquam in, quas cupiditate aliquam? Vel, pariatur!</p>
          <button>Conversar com especialista</button>
        </div>
        <div class="col" style="padding-left: 3rem; padding-right: 3rem;">
          <img src="../confg/medico.jpg" alt="Médico S.A.D" width="100%" height="400px">
        </div>
      </div>
    </div>
       <!--Fim do container 1 (principais serviços)-->
      <!--Inicio do container 2 (3 sinais para autoajuda)-->
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5" style="margin-top: 3rem; margin-left: 7rem; margin-right: 7rem; overflow: hidden;">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url(../confg/5.png); background-repeat: no-repeat; background-position: center; background-size: cover;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color: #fff;">Está com crises, ligue já!</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../confg/S.A.D.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Ansiedade</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>S.A.D</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url(../confg/6.png); background-repeat: no-repeat; background-position: center; background-size: cover;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color: #fff;">Sentimentos ruins, Ligue já!</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../confg/S.A.D.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Depressão</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>S.A.D</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url(../confg/7.png); background-repeat: no-repeat; background-position: center; background-size: cover;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color: #fff;">Falta de controle, Ligue já!</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="../confg/S.A.D.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Estresse</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>S.A.D</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
     <!--Fim do container 2 (3 sinais para autoajuda)-->
      <!--Inicio do container 3 (CTA de chamado de ajuda)-->
    <div class="container text-center container-2">
      <h2 class="jumbotron-heading">Você está com algum desses sinais?</h2>
      <p>Busque apoio para entender seus sentimentos. Estamos prontos para ajudar você a se sentir melhor.  você pode compartilhar seus pensamentos e sentimentos mais profundos. Isso pode ser libertador e essencial para o autoconhecimento.</p>
      <p>
        <a href="#" class="btn btn-primary my-2 btn-agendar">Realizar Agendamento</a>
        <a href="#" class="btn btn-secondary my-2 btn-ligar">Ligar para o S.A.D</a>
      </p>
    </div>
         <!--Fim do container 3 (CTA de chamado de ajuda)-->
    <h2 style="color: rgb(241, 132, 7);" id="Servicos">Soluções que transformam</h2>  

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-3 py-5" style="margin-left: 4rem; margin-right: 4rem;">
      <div class="col d-flex align-items-center">
        <img src="../confg/sala-de-reunioes.png" alt="" width="35px">
        <div style="padding: 25px;">
          <h3 class="fw-bold" style="color: rgb(106, 24, 153); font-size: 1.6rem;">Reuniões Online</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-center">
        <img src="../confg/saude-mental.png" alt="" width="35px">
        <div style="padding: 25px;">
          <h3 class="fw-bold" style="color: rgb(12, 95, 128); font-size: 1.6rem;">Suporte Emocional</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-center">
        <img src="../confg/telefone.png" alt="" width="35px">
        <div style="padding: 25px;">
          <h3 class="fw-bold" style="color: rgb(241, 132, 7); font-size: 1.6rem;">Ligações S.A.D</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-center">
        <img src="../confg/relatorio-de-lucro.png" alt="" width="35px">
        <div style="padding: 25px;">
          <h3 class="fw-bold" style="color: rgb(241, 132, 7); font-size: 1.6rem;">Relatórios pessoais</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-center">
        <img src="../confg/interacao.png" alt="" width="35px">
        <div style="padding: 25px;">
          <h3 class="fw-bold" style="color: rgb(12, 95, 128); font-size: 1.6rem;">Visitas particulares</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
      <div class="col d-flex align-items-center">
        <img src="../confg/controle-de-video-game.png" alt="" width="35px">
        <div style="padding: 25px;">
          <h3 class="fw-bold" style="color: rgb(106, 24, 153); font-size: 1.6rem;">Jogos iterativos</h3>
          <p>Paragraph of text beneath the heading to explain the heading.</p>
        </div>
      </div>
     
   
    </div>
    <h2 style="color: rgb(106, 24, 153);">Conheça nossa história</h2>
    <div class="container text-left">
      <div class="row">
        <div class="col" style="margin-right: 4rem;">
          <h3 style="color: rgb(106, 24, 153);">Por onde começou a história do S.A.D ?</h3>
          <p>O S.A.D (Saúde, Amor e Dedicação) é um centro de assistência psicológica que se dedica a promover o bem-estar mental e emocional de seus pacientes. Com uma equipe de profissionais qualificados, o S.A.D oferece um ambiente acolhedor e seguro, onde cada indivíduo é tratado com empatia e respeito.
          </p>
          <button class="btn-medico">Realizar um Agendamento</button>
        </div>
        <div class="col" style="padding-left: 2rem; padding-right: 2rem;">
            <img src="../confg/Psychologist-amico.png" alt="" width="450px" height="450px">
        </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted" id="Contato">
      <!-- Section: Social media -->
      <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block fw-bold">
          <span>Meios de Contato e conexão</span>
        </div>
        <!-- Left -->
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section>
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Agency S.A.D
              </h6>
              <p>
                Buscamos soluções inteligêntes e humanizadas para melhorar a saúde mental e bem estar de pessoas com ploblemas cotidianos reais.
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 menu-footer">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Menu
              </h6>
              <p>
                <a href="#!" class="text-reset">Home</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Quem Somos</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Serviços</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Contato</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 servicos-footer">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">
                Soluções
              </h6>
              <p>
                <a href="#!" class="text-reset">Reuniões</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Ligações</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Relatórios</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Jogos</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
              <p><i class="fas fa-home me-3"></i> São Paulo, Nova paulista 10012, BR</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                atendimentosad@gmail.com
              </p>
              <p><i class="fas fa-phone me-3"></i> + 55 19 9234 3333</p>
              <p><i class="fas fa-print me-3"></i> + 55 19 2198 4422</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->

      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(87, 87, 87, 0.05);">
      <b>  © 2024 Copyright alunos da Pontifícia Universidade Católica de Campinas </b>
      </div>
      <!-- Copyright -->
    </footer>
<!-- Footer -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>