<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js" integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link
  href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
  rel="stylesheet"/>
  <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'forms.css')}}">
  <link rel="icon" href="{{url_for('static', filename = 'S.A.D.png')}}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='home-estilos.css')}}">
</head>
<body>
    <script>
      const urls = {
        index: "{{ url_for('index') }}",
        sobre: "{{ url_for('index') }}#Sobre",
        servicos: "{{ url_for('index') }}#Servicos",
        contato: "{{ url_for('index') }}#Contato",
        loginPage: "{{ url_for('login_page') }}",
        cadastro: "{{ url_for('cadastro') }}",
        agendamento: "{{ url_for('agendamento') }}",
        userInfo: "{{ url_for('informacoes') }}"
    };
    </script>
    <header style="background-color: #fff;"></header>
    
     <!--Inicio do Body-->
    <div id="cont" class="cont">
      <form class="form" id="loginUser" method="post" action="/login">
        <p class="form-title">Acessar minha conta</p>
        <br><br>
        <div class="input-container">
            <label for="name">User</label>
            <input name="name" type="text" placeholder="Ex: email@gmail.com ou CPF">
        </div>
        <br>
        <div class="input-container">
            <label for="pass">Senha</label>
            <input type="password" placeholder="Ex: ###-####" name="pass">
        </div>
        <br><br>
        <button type="submit" class="submit">Entrar</button>
      </form>
      

    </div>
    <!--Fim do bodys-->
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted" id="Contato">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block fw-bold">
            <span>Meios de Contato e conexão</span>
          </div>
          <!-- Left -->
        </section>
        <!-- Section: Social media -->
  
        <!-- Section: Links  -->
        <section>
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Agency HOPE
                </h6>
                <p>
                  Buscamos soluções inteligêntes e humanizadas para melhorar a saúde mental e bem estar de pessoas com ploblemas cotidianos reais.
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 menu-footer">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Menu
                </h6>
                <p>
                  <a href="#!" class="text-reset">Home</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Quem Somos</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Serviços</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Contato</a>
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 servicos-footer">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Soluções
                </h6>
                <p>
                  <a href="#!" class="text-reset">Reuniões</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Ligações</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Relatórios</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Jogos</a>
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
                <p><i class="fas fa-home me-3"></i> São Paulo, Nova paulista 10012, BR</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  atendimentosad@gmail.com
                </p>
                <p><i class="fas fa-phone me-3"></i> + 55 19 9234 3333</p>
                <p><i class="fas fa-print me-3"></i> + 55 19 2198 4422</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
  
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(87, 87, 87, 0.05);">
        <b>  © 2024 Copyright alunos da Pontifícia Universidade Católica de Campinas </b>
        </div>
        <!-- Copyright -->
      </footer>
  <!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>