<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../model/forms.css">
    <title>Login</title>
</head>
<body>
    <!--Inicio do Header-->
    <header style="background-color: #fff;">
        <a href="#" class="logo"><img src="../confg/S.A.D.png" alt="" width="500px" height="500px"></a>
        <ul class="navbar">
            <li><a href="index.html" class="active">Home</a></li>
            <li><a href="index.html#Sobre">Sobre nós</a></li>
            <li><a href="index.html#Servicos">Serviços</a></li>
            <li><a href="index.html#Contato">Contato</a></li>
            <a href="agendamento.html"><button>Agendamentos</button></a>
           
        </ul>
        <div class="main-acessos">
            <a href="login.user.html" class="login"><i class="ri-user-fill"></i>Login</a>
            <a href="cadastro.user.html" class="Cadastro">/ Cadastro</a>
        </div>
    </header>
    <!--Fim do Header-->
    <div id="cont" class="cont">
      <form class="form">
        <p class="form-title">Faça seu cadastro</p>
        <div class="input-container">
          <label for="name" class="labelForm">Nome</label>
          <input type="text" placeholder="Ex: João pedro" name="name">
          <span>
          </span>
        </div>
        <div class="input-container">
            <label for="email" class="labelForm">Email</label>
            <input type="email" placeholder="Ex: joao@gmail.com" name="email">
            <span>
            </span>
        </div>
        <div class="input-container">
          <label for="pass" class="labelForm">Senha</label>
          <input type="password" placeholder="Ex: ###-####" name="pass">
        </div>
        <div class="input-container">
          <label for="confirmPass" class="labelForm">Confirme a Senha</label>
          <input type="password" placeholder="Ex: ###-####" name="confirmPass">
        </div>
        <div class="input-container">
          <label for="cpf" class="labelForm">CPF</label>
          <input type="text" placeholder="Ex: ###-####" name="cpf">
        </div>
        <div class="input-container">
          <label for="datanasc" class="labelForm">Data de Nascimento</label>
          <input type="date" placeholder="Ex: ###-####" name="datanasc">
        </div>
          <button type="submit" class="submit" action="enviarFormulario">
          Cadastrar
          </button>
        <p class="signup-link">
          possui uma conta?
          <a href="login.user.html">Logar</a>
        </p>
      </form>
    </div>
    <!--Fim do bodys-->
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-body-tertiary text-muted" id="Contato">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <!-- Left -->
          <div class="me-5 d-none d-lg-block fw-bold">
            <span>Meios de Contato e conexão</span>
          </div>
          <!-- Left -->
        </section>
        <!-- Section: Social media -->
  
        <!-- Section: Links  -->
        <section>
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Agency S.A.D
                </h6>
                <p>
                  Buscamos soluções inteligêntes e humanizadas para melhorar a saúde mental e bem estar de pessoas com ploblemas cotidianos reais.
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 menu-footer">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Menu
                </h6>
                <p>
                  <a href="#!" class="text-reset">Home</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Quem Somos</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Serviços</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Contato</a>
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 servicos-footer">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Soluções
                </h6>
                <p>
                  <a href="#!" class="text-reset">Reuniões</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Ligações</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Relatórios</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Jogos</a>
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
                <p><i class="fas fa-home me-3"></i> São Paulo, Nova paulista 10012, BR</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  atendimentosad@gmail.com
                </p>
                <p><i class="fas fa-phone me-3"></i> + 55 19 9234 3333</p>
                <p><i class="fas fa-print me-3"></i> + 55 19 2198 4422</p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
  
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(87, 87, 87, 0.05);">
        <b>  © 2024 Copyright alunos da Pontifícia Universidade Católica de Campinas </b>
        </div>
        <!-- Copyright -->
      </footer>
  <!-- Footer -->
  
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="script.js"></script>
   <script src="script.js"></script>
</body>
</html>